*
!*.fits
!*.pdf
!*.jpeg
!*.jpg
!*.png
!*.eps
!*.epsf
!*.epsi
!*.pgf
!*.tikz
!*.ps  *.bib
!*.bst
!*.bbx
!*.ist
!*.bbl  *.sty
!*.cls
!*.clo  *.tex
!*.rtx
!*.pdf_tex
!*.pdf_t
!*.lyx
!*.inc
!*.dtx
!*.pspdftex  *.dat
!*.txt
!*.csv
!*.tsv
!*.ocw
!*.cfg
!*.zip
!*.mat
!*.xml
!*.yaml
!*.yml
!*.tab  *.py
!*.m
!*.R
!*.r
!*.rb
!*.erl
!*.pl
!*.c
!*.cpp
!*.cc
!*.cxx
!*.h*.
!*.hpp
!*.scm
!*.vhdl
!*.ats
!*.dats
!*.asy
!*.org
!*.nb
!*.ipynb
!*.Rnw
!*.java
!*.f
!*.for
!*.f90
!*.f95
!*.hs
!*.lhs
!*.sql
!*.cs
!*.vb
!*.mpl
!*.maple
!*.js
!*.lua
!*.htm
!*.html
!*.css
!*.sh
!*.go
!*.dot
!*.vim
!*.cabal  *.ttf
!*.otf
!*.ttc
!*.tfm
!*.map
!*.fd
!*.enc*.
!*.def
!*.mf
!*.pfa
!*.pfb
!*.vf
!*.ovf
!*.ofm
!*.pfm
!*.afm  *.avi
!*.mov
!*.gif
!*.swf
!*.graffle
!*.vsd
!*.vsdx
!*.dia
!*.fig
!*.svg
!*.xmpdata
!*.tif
!*.tiff
!*.mp4
!*.ai
!*.bmp
!*.xcf  *.tpx
!*.pic
!*.dpp
!*.jp2
!*.icm
!*.ppt
!*.pptx
!*.doc
!*.docx
!*.xls
!*.xlsx
!*.prc
!*.vws
!*.icc
!*.dpth
!*.odg
!*.odp
!*.pxm
!*.mps
!*.tec
!*.sbx
!*.sxd
!*.ods
!*.pgm
!*.cbx
!*.dbx
!*.lbx
!*.lco
!*.ldf
!*.ucf
!*.xsd
!*.xslt
!*.gp
!*.gnuplot
!*.plt
!*.ppl
!*.gnu
!*.table
!*.conf
!*.md
!*.Rmd
!*.bb
!*.pde
!*.vtu
!*.add
!*.owl
!*.xmp
!*.dict
!*.jl
!*.vhd
!*.mp
!*.pd
!*.fvpd
!*.pra
!*.pool
!*.latexmain
!*.md5
!*.dep
!*.apc
!*.gv
!*.v
!*.cmake
!*.cabal
!*.ipe
!*.gs
!*.GS
!*.mk  latexmkrc
!*.gitignore
!*.gitattributes
!Makefile
!SConstruct
!*.chktexrc
!*.editorconfig
!TODO
!CONTRIBUTORS
!README
